<div id="LikePluginPagelet">
  <div id="connect_widget_4da7523dd011d2740150016" class="connect_widget button_count" style="">
    <div>
      <div class="connect_widget_number_cloud" style="width: 47px; visibility: visible; height: 24px; ">
        <table class="uiGrid connect_widget_number_cloud_summary" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td>
                <div class="thumbs_up_icon"></div>
              </td>
              <td>
                <span>
                  <span class="connect_widget_connected_text hidden_elem"><%= @count %></span>
                  <span style='display: none;' class="connect_widget_not_connected_text">41</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="connect_widget_number_cloud_nub" style="">
          <s></s>
          <i></i>
        </div>
        <div style='display: none;' class="connect_widget_number_cloud_extension hidden_elem">
          <div class="connect_widget_number_cloud_extension_text">
            <table class="uiGrid" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <span class="unlike_span hidden_elem">
                      <a class="connect_widget_unlike_link">Unlike</a>
                    </span>
                  </td>
                  <td>
                    <span class="like_reminder">You like this.</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="connect_widget_connect_button" style="margin-top: 8px">
        <a class="connect_widget_like_button clearfix like_button_no_like" style="">
          <div class="tombstone_cross"></div>
          <span class="liketext">Disike</span>
        </a>
        <span style='display: none;' class="connect_widget_confirm_span hidden_elem">
          <a class="connect_widget_confirm_link">Confirm</a>
        </span>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</div>